{% extends "base.html"%}
{% block content %}
{% load staticfiles %}

        <body><br><br><br>
                <!-- List of uploaded documents -->
                  <div class="container-fluid" style="width: auto; height:auto; color:grey; background : #F7F7F7) no-repeat center top"> 
         
         <div class="container-fluid">
<div class='row'>    
       <div class='col-sm-1'></div>           
<div class='col-sm-6' >
<div style="width:auto;height:auto; background-color:white">
<div style="width:auto; height:auto;padding-left:5px;padding-top:0.5px;background-color:#F7F7F7">
<h2 >{{ object.title|title }} </h2><hr/>

</div>
<h6 align="right"><b>Post On:</b> {{ object.date_created|date:"d M Y" }} 
{% if object %}
 <img src="{{ object.docfile.url }}"  class="img-responsive" style="height:60%;width:100%; alt="your selected item"/>
   </h6></div>  
 {% endif %} <br>

<div style="width:auto;padding-top:1px; height:auto;background-color:#F7F7F7">
<h2 style="padding-left:6px"><b>Description of Event</b></h2>
<div style="padding-left:6px;width:auto; height:auto;background-color:white"> 
<p>{{ object.description|truncatewords:55}}</p><br><br></div>
</div> </div> 
<div class='col-sm-4'>


<div style="width:auto; height:auto;padding-top:1px; background-color:#F7F7F7">
<center><h4>Item Details</h4></center>
<div style="padding-left:6px;width:auto; height:auto; padding-bottom:6px; background-color:white">

<h4><b>Expire On</b> : {{object.expire_date|date:"d M Y"}} </h4>
<h4><b>Avilable For</b> : {{ object.quantity }} unit</h4></div></div> <br> 
<div style="padding-left:6px;width:auto; height:auto;padding-top:3px; padding-bottom:3px; background-color:white">
<h4><b>Place Zipcode</b> : {{  object.zip_Code }}</h4>
<h4><b>Location</b> :   {{ object.address }}</h4> 
</div>
<a href="/products/enquiry/{{ event.user}}/" ><h3 class='btn btn-success btn-block'>{{  object.user }}</h3></a> <br>
{% if document %}
                                
  {% for document in document %}
<div style="width:auto; height:auto;background-color:white; padding-bottom:20px;">
<div style="width:auto; height:auto;padding-left:25px; background-color:#F7F7F7;  padding-bottom:8px;">
<a href=#event style="color:#428BCA">   <h4 data-toggle="modal" id='rim' data-target="#event">  <img src="{{ document.docfile.url }}" class="img-circle" id="circle" alt="Image not found" width="100px" height="100px"/>&nbsp;&nbsp;{{document.firstname}}&nbsp;{{ document.lastname}}</h4></a>
                      {% endfor %}
          
                        {% else %}
<div style="width:auto; height:auto;background-color:white; padding-bottom:20px;">
<div style="width:auto; height:auto;padding-left:25px; background-color:#F7F7F7;  padding-bottom:8px;">
                      <h4> <img src="{% static 'assets/img/find_user.png' %}"  class="img-circle" id="circle" alt="Image not found" width="100px" height="100px"/>&nbsp;&nbsp;Unknow User</h4>               {% endif %} </div>


<p style="padding-left:75px;">SHARE ON SOCIAL MEDIA</p><center>
<a href="//facebook.com"><img src="{% static 'img/facebook.png' %}" class="img-inline-responsive"/></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					    <a href="//twitter.com"><img src="{% static 'img/Twitter.png' %}" class="img-inline-responsive"/></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					    <a href="//in.linkedin.com"><img src="{% static 'img/in.png' %}" class="img-inline-responsive"/></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					    <a href="//plus.google.com"><img src="{% static 'img/gplus1.png' %}" class="img-inline-responsive"/></a>&nbsp;&nbsp;</center></div>
</div><div class='col-sm-1'></div>  




                     
</div>



{% for document in document %}
 <div class="modal fade" id="event" role="dialog">
<div class="modal-dialog modal-sm">
      <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>

                      
          <h4 class="modal-title"><center>Profile</center> </h4>
        </div>

<div class="container-fluid">

                               <h4 >  <img src="{{ document.docfile.url }}" class="img-circle" id="circle" alt="{% static 'assets/img/find_user.png' %}" width="160px" height="150px"/>{{document.firstname}}&nbsp;{{ document.lastname}}</h4>

<h4>User Name : {{  event.user }}</h4>
<h5>Joined Us: {{ event.user.date_joined|date:"d M Y" }}</h5>
<h5>User email: {{ event.user.email}}</h5>
<h5>Address: {{ document.address}}</h5></div>
<div class="modal-footer">
                      
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
</div>
      </div>

    </div></div>
{% endfor %}

       </div></div> <br><br><br><br>              
 
              </body>

</html>
{% endblock %}








